#sudo apt-get install libmysqlclient-dev libxml2-dev libxslt-dev python-dev libffi-dev gcc libssl-dev
Django==1.8.6
lxml==3.3.3
Scrapy==1.0.3
django-pipeline==1.5.4
mysqlclient==1.3.7
w3lib==1.12.0
feedgenerator==1.8
#sudo apt-get install nodejs npm
#sudo npm install -g less
#sudo ln -s /usr/bin/nodejs /usr/bin/node
#sudo apt install ruby
#sudo su -c "gem install sass"
