#sudo apt-get install libmysqlclient-dev libxml2-dev libxslt-dev python-dev libffi-dev gcc libssl-dev gettext
Django==1.8.6
lxml==3.8.0
Scrapy==1.4.0
django-pipeline==1.5.4
mysqlclient==1.3.7
w3lib==1.17.0
feedgenerator==1.8
brotli==0.6.0
sqlparse==0.2.4
#sudo apt-get install nodejs npm
#sudo npm install -g less
#sudo ln -s /usr/bin/nodejs /usr/bin/node
#sudo apt install ruby ruby-dev
#sudo su -c "gem install sass"
