{% extends "base.html" %}
{% load i18n %}_

{% block content %}
<div class="page-header">
    <!--h1 style="display: inline">Feed setup:</h1-->
    <h2 style="display: inline" id="setup-tool-string">
        {% trans 'setup.you_are_creating_feed_with' %} 
        <button id="st-title" class="btn btn-large has-tooltip" title="{% trans 'setup.help' %}"
            data-trigger="hover focus manual" data-animation="true">{% trans 'setup.title' %}</button> {% trans 'setup.and' %} 
        <button id="st-description" class="btn btn-large">{% trans 'setup.description' %}</button>.
        <button id="create" class="btn btn-large btn-primary disabled" style="padding-right: 13px; float:right" data-page-url="{{ page_url }}" data-feed-page-url="{{ feed_page_url }}">{% trans 'setup.create' %} <i class="icon-arrow-right icon-white" style="margin-top: 3px"></i></button>
    </h2>
</div>


<iframe src="{{ external_page_url }}" frameborder="0" style="width:100%;/*for footer*/; border:solid">

</iframe>

    <script type="text/javascript">
        // Based on: http://www.quirksmode.org/js/findpos.html
        var getCumulativeOffset = function (obj) {
            var left, top;
            left = top = 0;
            if (obj.offsetParent) {
                do {
                    left += obj.offsetLeft;
                    top += obj.offsetTop;
                } while (obj = obj.offsetParent);
            }
            return {
                x: left,
                y: top
            };
        };

        var iframe_element = null;

        function update_iframe_heignt()
        {
            var y_offset = getCumulativeOffset(iframe_element).y,
                footer_height = $('#footer').height();
            var height = $(window).height()-y_offset-footer_height;
            if (height < 100)
            {
                iframe_element.style.height = (iframe_element.contentWindow.document.body.offsetHeight) + 'px';
            }
            else
                iframe_element.style.height = height + 'px';
            console.log(iframe_element.style.height);
        }

        $(window).resize(function () {
            if (iframe_element) //iframe is loaded
            {
                update_iframe_heignt();
            }
        });

        $('iframe').load(function() {
            iframe_element = this;
            update_iframe_heignt();
        });
    </script>
{% endblock %}
